nav{width:100vw;height:100px;background-color:#85D4B7;text-align: center;}
#luce{width: 100px;height: 100px;text-align: center;}
#vegan{width:100vw;height: 800px;text-align: center;background-color: #6DCCAA;}
footer{width:100vw;height: 130px;}
#coaching{width:100vw;height: 800px;text-align: center;}
#eetcafe{width:100vw;height: 500px;text-align: center;background-color:#FFCF3F ;}
#winkel{width:100vw;height: 500px;}