{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href='{% static "css/estilos.css"%}' rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola mundo</h1>
    <a href=/profesores>profesores</a><br>
    <a href=/carrera>carreras</a>

    <br>
    <h2> python:</h2>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'carrera' %}">Carrera</a></li>
    <li><a href="{% url 'profesores' %}">Profesores</a></li>
</body>
</html>